@import './Dashboard.scss';
.sidebar{
    background: $bg-gradient;
    color:white;
   
}
.list-style{
   
    background: none !important;
    color: white !important;
    border: none !important;
    margin-left: -16px !important;
}
.header-container{
    display: flex;
    margin-top: 16px;
    margin-left: -15px;
    gap: 10px;
}

.media-10{
  margin-left:313px ;
  margin-top:21px ;
}
.icon-menu{
  display: none;

}
.show-menu {
  display: none !important; 
}

.hide-menu {
  display: block !important; 
}
@media (min-width: 992px) {
    .fixed-sidebar {
      position: fixed; 
      width: 20%; 
      height: 100vh; 
      overflow-y: auto; 
    }
  }
  @media (max-width: 768px) {
   
    .media{
             width: 27% !important;
        margin: 17px -83px !important;
    }
    .logo{
        
      width: 20% !important;
      height: 38px !important;
      margin-top: -106px !important;
      margin-left: 138px !important;
    }
    .card3{
        margin-top: 116px !important;
    }
    .list-group{
      display:none !important;
    }
    .icon-menu{
      display: block;
    
    }
    .show-menu {
      display: block !important;
    }
    .d-flex-mobile{
      display: flex;
      justify-content: center;
    }
    .small-style{
      background: black;
      width: 57% !important;
    
    }
    .header {
      margin-top: 232px !important;
    }
    .media-10{
      padding: 20px;
    }
    
  }
